Source: leiads
Section: user/sound
Priority: optional
Maintainer: Axel Sommerfeldt <axel.sommerfeldt@f-m.fm>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: leiads
Architecture: any
Depends: ${shlibs:Depends}
Description: An UPnP Audio Control Point Application
 http://leia.sommerfeldt.f-m.fm/
XB-Maemo-Display-Name: Leia
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAFXRFWHRDcmVhdGlv
 biBUaW1lAAfYBRwSEThR7lxVAAAAB3RJTUUH2AUcEhUnbYt31AAAAAlwSFlzAAAL
 EgAACxIB0t1+/AAAAwBQTFRFAAAAAAAIAAAYAAAhAAApAAgAAAgIAAgQAAgYABAQ
 ABAYABAhABApABBCABBKABgQABghABgpABgxABg5ABhCABhrACEpACExACE5ACFC
 ACFrACkxACk5AClCAClKAClSACljADFKADFSADFaADGEADk5ADlSADlaADljADlz
 AEJaAEJjAEJrAEJzAEJ7AEpaAEprAEp7AEqEAFJzAFJ7AFpzAFqEAGuEAHOMAISl
 AKW1CAAACAAICAgACAgICAgQCBAICBAQCBAYCBgYCBghCBgpCBgxCCEhCCEpCCEx
 CCE5CCkxCCk5CClCCClKCDFaCDlKCDlSCDlaCEJaCFJ7EAAIEBAQEBAYEBghEBgp
 ECExECE5EDFCEKXGGBghGCk5GClCGEpjGFqMGHuUGNbnIUJaIWuMKZycKa21Kdbn
 Oc7vQrXGStbvUufvWpytY87WY9beY97na8bWa973a///c8bne87ee87ne///hPf/
 hP//jOfvjPf3lM7nlN7enO/vpf//rdbere//rf//tff3vc7evf//xv//1v//3v//
 5///7///9//39///////////////////////////////////////////////////
 ////////////////////////////////////////////////////////////////
 ////////////////////////////////////////////////////////////////
 ////////////////////////////////////////////////////////////////
 ////////////////////////////////////////////////////////////////
 ////////////////////////////////////////////////////////////////
 ////////////////////////////////////////////////////////////////
 ////////////////////////pdIXsAAAAcdJREFUeNp1kolTEzEUxjNgI1XGqRWk
 FTy2KkWrUqzixWT3JdtxYVoV1AQrFu/7vlEBtQrJhv7PJtuWruP4ZpJJ8vveN8l8
 QaRbHGMzEdzeIjM88Cwg3LMzkBiyBQTAwEjUQWYN5pRu9WGeCiGMINblcg6UBrQO
 DHi3EVkCkMrunzgZuMxIjLDbBYIdbryWHy6naph1HZGXMMwf//ZYNQbyB9KB8FzR
 Ri5nmPrDuqkb4Xk1V51OAVyI3JBpWaxmTp17+unac2ft4ODgkSFGEvZxyNx7MZ0b
 CVW4vvFbr4RS91SSbUPhL2RGj595snT0RXap93vhTeEhJTzqAr+WnjstZSiby+Gv
 jR9aqT583SLKpmedwuSrW/ezn7e87f167N2hu30tQ8b8m2lnXCktmz/1qn6ke2rE
 jRCw8h2nePb9F3lvfa/M75voL0MrFgT17TOZXEmG5m4fw2djOy+KdiwI6LbK0GhJ
 rqqXe07s2FWh88kOcildGMmXpJJrAzOBbwLqhImSbPdVp5ibLOb7WR1zNxYlQDBc
 uVIt3/CFSdRmtfk3gD3IXLqNORbWCBPYTAuRfyr+o/5TKGJTHflUHNmBE39btc7/
 AH9nsmE3OClNAAAAAElFTkSuQmCC
